conda-forge::gdown # to download Google Drive files
ipykernel
joblib
jupyter
pandas
matplotlib
numpy>=2.0.0
scikit-learn
seaborn
statsmodels
tqdm

# GPU‐enabled PyTorch
pytorch:pytorch
pytorch::cudatoolkit=12.4      # If needed, replace with the CUDA version on your decide (check by running `nvcc --version`)
pytorch::torchvision          
