conda-forge::gdown # to download Google Drive files
ipykernel
joblib
jupyter
pandas
matplotlib
numpy>=2.0.0
scikit-learn
seaborn
statsmodels
tqdm

# GPU‐enabled PyTorch
conda-forge::pytorch-gpu
pytorch::torchvision          
